body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    margin-right: 8em;
}

.navbar-nav .nav-item .active {
    background-color: #0bda73;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
}

.navbar-nav .nav-item {
    margin-right: 8em;
}

#tentang {
    background-color: #f9f9f9;
}

#tentang h3 {
    font-weight: 600;
}

.icon-vaksin {
    position: relative;
}

.pemisah {
    border-right: 2px solid #e3e3e3;
}

#wwd {
    margin-top: 100px;
}

#wwd h1 {
    font-weight: 600;
    font-size: 50px;
}

#wwd h3 {
    margin-top: 20px;
}

#products {
     background-color: #f9f9f9;
}

#products .row {
    display: flex;
    justify-content: space-between;
}

#products h1 {
    font-weight: 600;
    font-size: 50px;
    padding-top: 20px;
}

#products .img-prdk {
    position: relative;
}

#products .card-body {
    background-color: white;
}


#news h1 {
    font-weight: 600;
    font-size: 50px;
    padding-top: 20px;
    margin-top: 10pxs;
}

#news .img-news {
    position: relative;
}

#news .img-news span {
    top: 20px;
    left: 30px;
    width: 63px;
    height: 27px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: #0BDA73;
}

#news .budge {
    display: block;
    position: absolute !important;
}

#news .budge p {
    padding-top: 20px;
}

#news .budge h5 {
    color: #7B7B7B;
    font-size: medium;
}