body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* #navbarNav a{
    transition: .1s;
}

#navbarNav a:hover,
#navbarNav a.active  {
    color: #0bda73;
    border-radius: 20px;
    padding: 5px 20px 5px 20px; 
} */

.navbar {
    position: sticky;
    top: 0;
    z-index: 5;
}
.navbar-brand {
    margin-right: 8em;
}

.navbar-nav .nav-item a.active {
    background-color: #0bda73;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
}

.navbar-nav .nav-item {
    margin-right: 7em;

}

#tentang {
    background-color: #f9f9f9;
}

#tentang h3 {
    font-weight: 600;
}

.icon-vaksin {
    position: relative;
}

.pemisah {
    border-right: 2px solid #e3e3e3;
}

#wwd {
    margin-top: 100px;
}

#wwd h1 {
    font-weight: 600;
    font-size: 50px;
}

#wwd h3 {
    margin-top: 20px;
}

#news {
    margin-top: 100px;
}

#news h1 {
    font-weight: 600;
    font-size: 50px;
    padding-top: 20px;
    margin-top: 10pxs;
}

#news .img-news {
    position: relative;
}

#news .img-news span {
    top: 20px;
    left: 30px;
    width: 63px;
    height: 27px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: #0BDA73;
}

#news .budge {
    display: block;
    position: absolute !important;
}

#news .budge p {
    padding-top: 20px;
    text-align: left;
}

#news .budge h5 {
    color: #7B7B7B;
    font-size: medium;
}

#footer {
    margin-top: 250px;
    background-color: #f9f9f9;
}

#footer .img-footer {
    position: relative;
    padding: 30px;
}

#footer .img-footer p {
    padding-top: 20px;
}

#footer .budge p {
    padding-left: 110px;
    
}

/* About */
#about {
    margin-top: 100px;
}

#ceo {
    background-image: url("../assets/peneliti2.png");
    background-size: cover;    
    height: 260px;
    width: 100%;
}

.ceo1 {
    display: flex;
    justify-content: center;
    padding: 55px;
}

.ceo1 img {
    height: 120px;
    width: 500px;
}

/* #ceo .ceo1{
    max-width: 100px;
} */

#footer-about {
    margin-top: 150px;
    background-color: #f9f9f9;
}

#footer-about .img-footer {
    position: relative;
    padding: 30px;
}

#footer-about .img-footer p {
    padding-top: 20px;
}

#footer-about .budge p {
    padding-left: 110px;
    
}

/* product */

#product {
    background-image: url() ;
}

.home h5 {
    font-size: large;
    color: #7B7B7B;
}

#product .product {
    margin-top: 100px;
}

.pemisah {
    border-right: 2px solid #e3e3e3;
    padding: 10px;
}

#footer-product {
    margin-top: 100px;
    background-color: #f9f9f9;
}

#footer-product .img-footer {
    position: relative;
    padding: 30px;
}

#footer-product .img-footer p {
    padding-top: 20px;
}

#footer-product .budge p {
    padding-left: 110px;
    
}